In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Klaksvik,FO,2022-03-20 18:42:35,62.2266,-6.5890,45.52,93,100,23.11
1,1,Adrar,MR,2022-03-20 18:42:35,20.5022,-10.0711,80.55,11,0,7.65
2,2,Lavrentiya,RU,2022-03-20 18:42:35,65.5833,-171.0000,-7.91,76,26,4.21
3,3,Tura,IN,2022-03-20 18:40:10,25.5198,90.2201,75.70,36,38,5.17
4,4,Katsuura,JP,2022-03-20 18:42:36,35.1333,140.3000,48.00,88,100,20.85

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Adrar,MR,2022-03-20 18:42:35,20.5022,-10.0711,80.55,11,0,7.65
3,3,Tura,IN,2022-03-20 18:40:10,25.5198,90.2201,75.70,36,38,5.17
5,5,Mahebourg,MU,2022-03-20 18:42:36,-20.4081,57.7000,79.09,94,40,5.75
10,10,Hilo,US,2022-03-20 18:41:13,19.7297,-155.0900,79.61,80,100,6.91
11,11,Rikitea,PF,2022-03-20 18:42:38,-23.1203,-134.9692,79.72,75,8,11.81
12,12,Souillac,MU,2022-03-20 18:42:38,-20.5167,57.5167,79.18,94,40,5.75
23,23,Maues,BR,2022-03-20 18:40:59,-3.3836,-57.7186,82.85,89,99,1.88
28,28,Butaritari,KI,2022-03-20 18:42:45,3.0707,172.7902,80.01,82,32,17.36
35,35,Arraial Do Cabo,BR,2022-03-20 18:42:47,-22.9661,-42.0278,85.96,70,40,13.80
38,38,Puerto Ayora,EC,2022-03-20 18:42:48,-0.7393,-90.3518,87.76,77,75,6.76

In [17]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1             Adrar      MR     80.55  20.5022  -10.0711
3              Tura      IN     75.70  25.5198   90.2201
5         Mahebourg      MU     79.09 -20.4081   57.7000
10             Hilo      US     79.61  19.7297 -155.0900
11          Rikitea      PF     79.72 -23.1203 -134.9692
12         Souillac      MU     79.18 -20.5167   57.5167
23            Maues      BR     82.85  -3.3836  -57.7186
28       Butaritari      KI     80.01   3.0707  172.7902
35  Arraial Do Cabo      BR     85.96 -22.9661  -42.0278
38     Puerto Ayora      EC     87.76  -0.7393  -90.3518

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Adrar,MR,80.55,20.5022,-10.0711,
3,Tura,IN,75.70,25.5198,90.2201,Hotel RIKMAN Continental
5,Mahebourg,MU,79.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Hilo,US,79.61,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Rikitea,PF,79.72,-23.1203,-134.9692,People ThankYou
12,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
23,Maues,BR,82.85,-3.3836,-57.7186,Hotel Miramar
28,Butaritari,KI,80.01,3.0707,172.7902,Isles Sunset Lodge
35,Arraial Do Cabo,BR,85.96,-22.9661,-42.0278,Pousada Porto Praia
38,Puerto Ayora,EC,87.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))